@tailwind base;
@tailwind components;
@tailwind utilities;

/* client/src/app.css */
.side-menu {
  position: absolute;
  top: 0;
  left: -100%; /* Adjusted initial position */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  padding: 20px;
}

.side-menu.open {
  left: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: #000;
  cursor: pointer;
}


.input-group {
  margin-bottom: 10px;
  margin-right: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  color: #000;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

/* Adjust this style as needed */
#map-container {
  transition: margin-left 0.3s ease;
}
